<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Work Days</th>
          <th>Vacation Days</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.firstName}} {{employee.lastName}}</td>
          <td>{{employee.type}}</td>
          <td>{{employee.workDays}}</td>
          <td>{{employee.vacationDays}}</td>
          <td><button (click)="work(employee.id)" class="btn btn-danger">Work</button>
              <button (click)="takeVacation(employee.id)" class="btn btn-secondary" style="margin-left: 10px">Take Vacation</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
